*{
    padding: 0;
    margin: 0;
    /* color: white; */
}
#navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color:#f08804;
}
#logo{
    color:#f08804;
}
a{
    text-decoration: none;
    padding-right: 200px;
}

h1{
    text-align: center;
    margin: 20px;
}
.container{
    /* margin-top: 200px; */
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    /* background-color: black; */
}
.box{
    margin: 100px;
    width: 200px;
    height: 200px;
    transition: all ease-in-out .5s;
}
#box1{
    background-color: lightgreen;
}

#box2{
    background-color: lightblue;
}
#box3{
    background-color: lightcoral;
}
#box4{
    background-color: lightgrey;
}
@media (max-width: 300px) {
    div{
        background-color: green;
        font-size: 1rem;
    }
}
@media (min-width :300px) and (max-width: 400px) {
    div{
        background-color: pink;
        font-size: 1.5rem;
    }
}
@media (min-width : 400px) and (max-width: 600px){
    div{
        background-color: lightblue;
        font-size: 2rem;
    }
}
/* @media (min-width: 600px){
    div{
        background-color: blue;
        font-size: 3rem;
    }
} */

/* lets learn transform property */
.box:hover{
    transform: scale(1.2);
}


