/* *{
    font-family:Georgia, 'Times New Roman', Times, serif;
} */
.para1{
    border-left: 4px solid rgb(114, 200, 229);
    background-color: rgba(173, 216, 230, 0.413);
    padding: 8px;
}
.para2{
    background-color: rgba(240, 128, 128, 0.434);
    padding: 8px;
    border-left: 4px solid rgb(233, 88, 88);
}
span{
    font-weight: bold;
}

img{
    width: 300px;
}
.container{
    border: 5px solid black;
    display: inline-block;
    /* padding: 8px; */
}
.date{
    color: grey;
}
button{
    padding: 7px;
    background-color: black;
    color: white;
}
.container>h1,p{
    padding-left: 5px;
}
button{
    margin-left: 5px;
    margin-bottom: 5px;
}